<h1>Oldest Director</h1>

    <p>The oldest director in our dataset right now is  <a href="/directors/<%= @the_oldest.id %>"><%= @the_oldest.name %></a>, born on <%= @the_oldest.dob.strftime("%B %e, %Y") %>.</p>

