<h1>Youngest Director</h1>

<a href="/directors">Go back</a>


  <p>The youngest director in our dataset right now is  <a href="/directors/<%= @the_youngest.id %>"><%= @the_youngest.name %></a>, born on <%= @the_youngest.dob.strftime("%B %e, %Y") %>.</p>


<% end %>
